[submodule "vendor/r.js"]
	path = vendor/r.js
	url = git://github.com/jrburke/r.js.git
[submodule "vendor/mocha"]
	path = vendor/mocha
	url = git://github.com/visionmedia/mocha.git
[submodule "vendor/requirejs-npm"]
	path = vendor/requirejs-npm
	url = git://github.com/jrburke/requirejs-npm.git
