/node_modules
/npm-debug.*

/tmp
/test
/src
/dist/amd
/dist/regular
/bin/build
/bin/assets
/build
/.gitignore
/.travis.yml
/component.json
/testem.json
/CHANGELOG.md
/README_website.md
/dejavu_readme.md
